/* image gallery grid */
.grid1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.grid4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.grid5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}


/* mobile layout */
@media screen and (max-width: 500px) {
  main {
    grid-template-columns: 1fr;
  }
  .gridxto1 {
    grid-template-columns: 1fr;
  }
  .hideOnMobile {
    display: none;
  }
  /* avoid text size being too small based on vw */
  h2 {
    font-size: 2vmax;
  }
  p {
    font-size: 2vmax;
    line-height: 2.8vmax;
  }
  p:lang(zh) {
    font-size: 1.52vmax;
    line-height: 2.6vmax;
  }
}
