/* section {border: 1px solid white;} */

@font-face {
  font-family: "gt-black";
  src: url(../font/gt-america-black.otf);
}
@font-face {
  font-family: "gt-regular";
  src: url(../font/gt-america-regular.otf);
}
@font-face {
  font-family: "canela-thin";
  src: url(../font/canela-web-thin.ttf);
}
@font-face {
  font-family: "source-han-serif-light";
  src: url(../font/source-han-serif-sc-light.otf);
}
@font-face {
  font-family: "songti-light";
  src: url(../font/songti-light.ttf);
}
html {
  display: grid;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  background-color: white;
  margin: 0;
  color: black;
  line-height: 1.2;
}
article {
  display: grid;
  grid-template-columns: 1fr 2.4fr;
  grid-gap: 10px;
  margin: 40px 30px;
}
img {
  width: 100%;
  margin: 25px 0;
}
/* big titles */
h1 {
  font-family: "gt-black";
  font-size: 12em;
  text-transform: uppercase;
  margin: 300px 30px 20px 30px;
}
/* titles on the left */
h2 {
  font-family: "gt-regular";
  font-size: 2.2em;
  text-transform: uppercase;
  margin: 0 0 25px 0;
}

/* body texts */
p {
  max-width: 1200px;
  font-family: "canela-thin";
  font-size: 2.2em;
  line-height: 1.35em;
  margin: 0 0 25px 0;
}
p:lang(zh) { /* 中文字体 */
  font-family: "songti-light";
  font-size: 1.672em;
  line-height: 1.65em;
}

a:link {
  color: mediumslateblue;
  text-decoration: none;
}
a:visited {
  color: mediumslateblue;
}
/*underline effect for active page*/
nav a.active {
  border-bottom: 2px solid mediumslateblue;
}
nav a {
  text-transform: uppercase;
}
