/* image gallery grid */
.grid1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.grid4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.grid5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
/* first line of text indentation */
.indent {
  text-indent: 5em;
}

/* mobile layout */
@media screen and (max-width: 500px) {
  body {
    grid-template-columns: 1fr;
  }
  .gridxto1 {
    grid-template-columns: 1fr;
  }
  .hideOnMobile {
    display: none;
  }
}
