/* section {border: 1px solid white;} */

@font-face {
  font-family: "gt-black";
  src: url(../font/gt-america-black.otf);
}
@font-face {
  font-family: "gt-regular";
  src: url(../font/gt-america-regular.otf);
}
@font-face {
  font-family: "canela-thin";
  src: url(../font/canela-web-thin.ttf);
}
@font-face {
  font-family: "source-han-serif-light";
  src: url(../font/source-han-serif-sc-light.otf);
}
@font-face {
  font-family: "songti-light";
  src: url(../font/songti-light.ttf);
}
@font-face {
  font-family: "lanting-heavy";
  src: url(../font/lantinghei-pro-heavy.otf);
}
html {
  display: grid;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  background-color: white;
  margin: 0;
  color: black;
  line-height: 1.2;
}
main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  margin: 4vh 2vw;
}
img {
  width: 100%;
  margin: 25px 0;
}
/* big titles */
h1 {
  font-family: "gt-black";
  /* set to vw size so it won't overflow horizontally on mobile screen */
  font-size: 11vw;
  text-transform: uppercase;
  margin: 30vh 2vw 0 2vw;
}
h1:lang(zh) {
  font-family: "lanting-heavy";
  font-size: 10vw;
  margin: 0 2vw 4vh 2vw;
}
/* titles on the left */
h2 {
  font-family: "gt-regular";
  font-size: 2vmax;
  text-transform: uppercase;
  margin: 0 0 1vmax 0;
}
h2:lang(zh){
  font-size: 1.8vmax;
  margin: 0 0 4vmax 0;
}
/* body texts */
p {
  font-family: "canela-thin";
  font-size: 2vmax;
  line-height: 2.8vmax;
  margin: 0 0 2.8vmax 0;
}
p:lang(zh) {
  font-family: "songti-light";
  font-size: 1.52vmax;
  line-height: 2.6vmax;
}

a:link {
  color: mediumslateblue;
  text-decoration: none;
}
a:visited {
  color: mediumslateblue;
}
/*underline effect for active page*/
nav a.active {
  border-bottom: 2px solid mediumslateblue;
}
nav a {
  text-transform: uppercase;
}
