/* section {border: 1px solid white;} */

@font-face {
  font-family: "gt-black";
  src: url(font/gt-america-black.otf);
}
@font-face {
  font-family: "gt-regular";
  src: url(font/gt-america-regular.otf);
}
@font-face {
  font-family: "canela-thin";
  src: url(font/canela-web-thin.ttf);
}
@font-face {
  font-family: "songti-light";
  src: url(font/songti-light.ttf);
}
@font-face {
  font-family: "lanting-heavy";
  src: url(font/lantinghei-pro-heavy.ttf);
}
html {
  display: grid;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  background-color: white;
  margin: 0;
  color: black;
  line-height: 1.2;
}
section {
  margin: 4vh 2vw 4vh 34vw;
}
img {
  width: 100%;
  margin: 0;
}

/* page titles */
h1 {
  font-family: "gt-black", sans-serif;
  /* set to vw size so it won't overflow horizontally on mobile screen */
  font-size: 12vw;
  line-height: 13vw;
  text-transform: uppercase;
  margin: 30vh 2vw 0 2vw;
}
h1:lang(zh), h1 span:lang(zh) {
  font-family: "Lantinghei SC", "兰亭黑-简", "Microsoft Yahei", "微软雅黑", sans-serif;
  font-weight: 900;
  font-size: 9.27vw; /* h1 size x0.7727 */
  position: relative;
  top: -0.98vmax; /* shift it up to align with english text */
  margin: 1vh 2vw 0 2vw;
}

/* small titles */
h2 {
  font-family: "gt-regular", sans-serif;
  font-size: 2vmax;
  text-transform: uppercase;
  margin: 6vmax 0 2vmax 0;
  padding-bottom: 0.5vmax; /* distance between text and border (inside) */
  border-bottom: 1px solid black;
}
h2:lang(zh), h2 span:lang(zh) {
  font-family: "Hiragino Sans GB", "冬青黑体简", "SimHei", "黑体", sans-serif;
  font-size: 1.72vmax;
  position: relative;
}

/* body texts */
p {
  font-family: "canela-thin", serif;
  font-size: 2vmax;
  line-height: 2.8vmax;
  word-spacing: 0.06vmax; /* bigger space between words */
  margin: 0;
}
p:lang(zh), p span:lang(zh) {
  font-family: "STSong", "华文宋体", "NSimSun", "新宋体", "SimSun", "宋体", serif;
  font-size: 1.52vmax;
  line-height: 2.6vmax;
  position: relative;
  top: -0.16vmax; /* shift it up to align with english text */
}
p span:lang(en) {
  font-family: "canela-thin", serif;
  font-size: 1.6vmax;
  position: relative;
  top: 0.2vmax; /* shift it down to align with chinese text */
}

br {
  content: "";
  margin-bottom: 2vmax;
  display: block;
}
.list br {
  margin-bottom: 0;
}

a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: blue;
}

/* classes -------------------------------------------------------------------- */

.img {
  margin: 1vh 2vw 4vh 34vw;
  color: grey;
}
.inline {
  display: inline;
}
/* image gallery grid */
.grid1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5vmin;
  padding: 0.25vmin 0;
}
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5vmin;
  padding: 0.25vmin 0;
}
.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5vmin;
  padding: 0.25vmin 0;
}
.grid4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5vmin;
  padding: 0.25vmin 0;
}
.grid5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.5vmin;
  padding: 0.25vmin 0;
}

/* mobile layout */
@media screen and (max-width: 500px) {
  section {
    margin-left: 2vw; /* no white space on the left */
    margin-top: 8vmax; /* move page content down for the space of the menu button */
  }
  .gridxto1 {
    grid-template-columns: 1fr;
  }
  .hide-on-mobile {
    display: none;
  }
}
