
@font-face {
  font-family: "gt-black";
  src: url(font/gt-america-black.otf);
}
@font-face {
  font-family: "gt-regular";
  src: url(font/gt-america-regular.otf);
}
@font-face {
  font-family: "canela-thin";
  src: url(font/canela-web-thin.ttf);
}
@font-face {
  font-family: "songti-light";
  src: url(font/songti-light.ttf);
}
@font-face {
  font-family: "lanting-heavy";
  src: url(font/lantinghei-pro-heavy.ttf);
}
@font-face {
  font-family: "plain-light";
  src: url(font/plain-light.ttf);
}
@font-face {
  font-family: "graphik";
  src: url(font/graphik.ttf);
}

.zh {
  display: none;
}
html {
  display: grid;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  background-color: white;
  margin: 0;
  color: black;
}
section {
  margin-left: 34vw;
  margin-right: 1.5vmax;
}
img {
  width: 100%;
  margin: 0;
}

/* page title */
h1 {
  font-size: 12vw; /* set to vw size so it won't overflow horizontally on mobile screen */
  line-height: 13vw;
  text-transform: uppercase;
  margin: 20vh 1.5vmax 0 1.5vmax;
  font-weight: 900;
}
h1.en, h1 span:lang(en){
  font-family: "gt-black", sans-serif;
  margin-bottom: 1vmax;
}
h1.zh {
  font-family: "Lantinghei SC", "兰亭黑-简", "Microsoft Yahei", "微软雅黑", sans-serif;
  margin-bottom: 2vmax;
}

/* body text */
p.en, p a.en {
  font-family: "canela-thin", serif;
  font-size: 2vmax;
  line-height: 2.8vmax;
  word-spacing: 0.06vmax; /* bigger space between words */
}
p.zh, p a.zh {
  font-family: "STSong", "华文宋体", "NSimSun", "新宋体", "SimSun", "宋体", serif;
  font-size: 1.6vmax;
  line-height: 2.8vmax;
}
p span:lang(en) {
  font-family: "canela-thin", serif;
  font-size: 1.6vmax;
  position: relative;
  top: 0.2vmax; /* shift it down to align with chinese text */
}
@media screen and (max-width: 500px) {
  p.en, p a.en {
    font-size: 12pt;
    line-height: 16.8pt;
  }
  p.zh, p a.zh {
    font-size: 9.6pt;
    line-height: 16.8pt;
  }
  p span:lang(en) {
    font-size: 9.6pt;
    top: 1pt;
  }
}
.text {
  margin: 3vmax 0 3vmax 0;
}
.text br {
  content: "";
  margin-bottom: 2vmax;
  display: block;
}

/* h6 text */
h6 {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: dimgray;
}
@media screen and (max-width: 500px) {
  h6 {
    font-size: 7pt;
  }
}
h6.imgDescription {
  margin: 0.5vmax 0 0 1.5vmax;
  width: 260px;
}
@media screen and (max-width: 500px) {
  h6.imgDescription {
    width: 140px;
  }
}

/* link */
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}

.pageDivider {
  margin-top: 20vh;
  width: 100%;
  border-bottom: 1px solid dimgray;
}
.nextText {
  position:absolute;
  left: 1.5vmax;
  color: blueviolet;
}
#nextPage {
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.iframeWrapper {
  position: relative;
  padding-top: 60%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  margin: 5px 0;
}
iframe {
  border: none;
  position:absolute;
  top:0;
  left:0;
  height:0;
  max-height:100%;
  min-height:100%;
  width:0;
  max-width:100%;
  min-width:100%;
}

.inline {
  display: inline;
}
/* image gallery grid */
.grid1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5vmin;
  padding: 0.25vmin 0;
}
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5vmin;
  padding: 0.25vmin 0;
}
.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5vmin;
  padding: 0.25vmin 0;
}
.grid4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5vmin;
  padding: 0.25vmin 0;
}
.grid5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.5vmin;
  padding: 0.25vmin 0;
}

/* mobile layout */
@media screen and (max-width: 500px) {
  section {
    margin-left: 1.5vmax; /* no white space on the left */
  }
  .pageTop {
    margin-top: 8vmax; /* move page content down for the space of the menu button */
  }
  .gridxto1 {
    grid-template-columns: 1fr;
  }
  .hide-on-mobile {
    display: none;
  }
}
