/* section {border: 1px solid white;} */

@font-face {
  font-family: "gt-black";
  src: url(font/gt-america-black.otf);
}
@font-face {
  font-family: "gt-regular";
  src: url(font/gt-america-regular.otf);
}
@font-face {
  font-family: "canela-thin";
  src: url(font/canela-web-thin.ttf);
}
@font-face {
  font-family: "songti-light";
  src: url(font/songti-light.ttf);
}
@font-face {
  font-family: "lanting-heavy";
  src: url(font/lantinghei-pro-heavy.ttf);
}
html {
  display: grid;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  background-color: white;
  margin: 0;
  color: black;
  line-height: 1.2;
}
article {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  margin: 4vh 2vw;
}
img {
  width: 100%;
  margin: 0;
}

/* big titles */
h1 {
  font-family: "gt-black";
  /* set to vw size so it won't overflow horizontally on mobile screen */
  font-size: 11vw;
  line-height: 12vw;
  text-transform: uppercase;
  margin: 30vh 2vw 0 2vw;
}
h1:lang(zh) {
  font-family: "lanting-heavy";
  font-size: 10vw;
  margin: 0 2vw 4vh 2vw;
}

/* titles on the left */
h2 {
  font-family: "gt-regular";
  font-size: 2vmax;
  text-transform: uppercase;
  margin: 0 0 0.5vmax 0;
}
h2:lang(zh) {
  font-size: 1.8vmax;
  margin-bottom: 1.8vmax;
}

/* body texts */
p {
  font-family: "canela-thin";
  font-size: 2vmax;
  line-height: 2.8vmax;
  margin: 0;
}
p:lang(zh) {
  font-family: "songti-light";
  font-size: 1.52vmax;
  line-height: 2.6vmax;
}
br {
  content: "";
  margin-bottom: 2.8vmax;
  display: block;
}

a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: blue;
}
/*underline effect for active page*/
nav a.active {
  border-bottom: 2px solid blue;
}
nav a {
  text-transform: uppercase;
}


/* classes -------------------------------------------------------------------- */
.inline {
  display: inline;
}
/* image gallery grid */
.grid1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.grid4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.grid5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

/* mobile layout */
@media screen and (max-width: 500px) {
  article {
    grid-template-columns: 1fr;
  }
  .gridxto1 {
    grid-template-columns: 1fr;
  }
  .hide-on-mobile {
    display: none;
  }
}
